@import url(reset.css);

.header {
    height: 50px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right bottom, #e2a028, #000000 70%);
    justify-content: space-between;
    position: fixed;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    color: #ffffff;
    margin: 0 20px;
}

.headerItem {
    align-self: center;
}

a {
    margin: 0 20px;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.solar {
    background-color: #000000;
}

img {
    width: 100%;
}

.main {
    width: 69%;
    margin: auto;
    padding-bottom: 100px;
}

.about {
    margin: 100px 0;
}

.about p {
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border: 2px solid #e2a028;
    border-radius: 20px;
    padding: 30px 50px;
    line-height: 25px;
}

.planet {
    display: flex;
    justify-content: space-between;
}

.planetItem {
    width: 23%;
}

.planet p {
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
}

.moon {
    display: flex;
    justify-content: space-between;
    border: 2px solid #e2a028;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 100px 0 0 0;
}

.moon p {
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 25px;
    padding-left: 50px;
}

.footer {
    height: 50px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right bottom, #000000 50%, #e2a028);
    justify-content: space-between;
    margin-top: 0;
}

.footer p {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    margin: 0 20px;
}

.footerItem {
    align-self: center;
}
