@import url(reset.css);

.header {
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Helvetica, serif;
    font-size: 25px;
    color: #ffffff;
    padding: 0 30px;
}

h2 {
    font-family: Helvetica, serif;
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 0 40px;
    line-height: 57px;
}

.columns {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.columns.first {
    margin: 100px auto 20px;
}

.columns.second {
    margin: 0 auto 100px;
}

.column {
    border: 5px solid black;
    width: calc((100% - 80px)/2);
    height: 300px;
    /*align-items: center;*/
}

.column.one {
    margin: 0 10px 0 0;
}

.column.two {
    margin: 0 0 0 10px;
}

.footer {
    height: 100px;
    display: flex;
    background-color: blue;
    justify-content: space-between;
}

.footerItem {
    margin: 30px;
    font-family: Helvetica, serif;
    font-size: 25px;
    color: #ffffff;
    align-self: center;
}

a {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .column {
        height: 165px;
        width: 100%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    h2
}

@media screen and (min-width: 960px) {
    div {

    }
}

@media screen and (min-width: 1264px) {
    div {

    }
}

@media screen and (min-width: 1904px) {
    div {

    }
}